# DATABASE
DATABASE_URL=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DATABASE_PASSWORD=
TEST_DATABASE_URL=

# REDIS
REDIS_URL=

# COOKIE
COOKIE_DOMAIN=

#RESEND
RESEND_API_KEY=
EMAIL_FROM_ADDRESS=
APP_URL=

#API
API_BASE_URL=

#BETTER-AUTH
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# SERVER
PORT=

# CRON JOB CONFIGURATION
CRON_ENABLED=
CRON_FOOD_STATUS_TIME=
CRON_MANUAL_TRIGGER_ENABLED=
CRON_LOG_LEVEL=

# PINO LOGGING
LOG_LEVEL=